extends layout

block content
  .header
    h1 Den fula ankungen
  p Kliv in i sagornas värld i detta soloäventyr baserat på den klassiska sagan av H.C. Andersen. Du är ankungen. Du gör valen. Är du redo?
  .button-wrapper
    a.button.button--next(href="/1") Börja äventyret
