extends layout

block content
  .card
    h1 Kvack, kvack... är någon där?
    p Kliv in i sagornas värld i detta soloäventyr baserat på den klassiska sagan “Den fula ankungen” av H.C. Andersen. Du är ankungen. Du gör valen. Är du redo?
    .links
      a.button.button--next(href="/1") Börja äventyret