extends layout

block content
  .card
    h1 Kvack, kvack... är någon där?
    p Kliv in i sagornas värld i detta soloäventyr baserat på den klassiska sagan “Den fula ankungen” av H.C. Andersen. Du är ankungen. Du gör valen. Är du redo?
    a(href="/1") Börja äventyret
  footer
    p.footer__text Design och kod av Marcus Billman. Sagans text är en bearbetad version av text från Sagosidan.
    p.footer__text Denna webbplats utvecklas enbart i utbildningssyfte.