extends layout

block content
  h1 Sida #{page.page_id}
  p= page.body
  .links
    if page.is_ending
      a(href='/') Tillbaka till startsidan
    else
      each link in links
        a.button(href='/' + link.to_page_id)= link.text ? link.text : 'Nästa'