extends layout

block content
  .header
    h1.small Sida #{page.page_id}
    a.button.button--small.button--restart(href='/1') Börja om
  p= page.body
  .links
    if page.is_ending
      a(href='/') Tillbaka till startsidan
    else
      each link in links
        if link.text
          a.button(href='/' + link.to_page_id)= link.text
        else
          a.button.button--next(href='/' + link.to_page_id) Nästa