$clr-grey: #E8E8E8
$clr-bronze: #974C06
$clr-mustard: #E9BF29
$clr-eggshell: #FDEEB9
$clr-aubergine: #18005B

html
  font-size: 62.5%

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  display: flex
  min-height: 100vh
  flex-direction: column
  font-family: 'Quicksand', sans-serif
  font-weight: 600
  color: $clr-aubergine
  background: $clr-eggshell

main
  display: flex
  align-items: center
  flex: 1
  padding-top: 10rem
  padding-bottom: 6.8rem

.container
  position: relative
  width: 100%
  max-width: 900px
  margin: 0 auto
  padding: 4.8rem
  background: white
  &--paper
    opacity: 0
    animation: fade-up 0.3s forwards
    &::before, &::after
      content: ''
      position: absolute
      display: block
      left: 0
      right: 0
      height: 44px
      background-size: cover
      background-repeat: no-repeat
    &::before
      top: 0
      transform: translateY(-100%)
      background-image: url('/images/torn-paper-1.png')
    &::after
      bottom: 0
      transform: translateY(100%) rotate(0.5turn)
      background-image: url('/images/torn-paper-2.png')

h1
  font-family: 'Dancing Script', cursive
  font-size: 5.6rem
  color: $clr-bronze
  &.small
    font-size: 3.8rem

p
  font-size: 2rem
  line-height: 140%
  margin-bottom: 1.6rem

a
  color: inherit

::selection
  background: $clr-mustard

.navbar
  top: 3.2rem
  max-width: 1400px
  height: 6.4rem
  padding: 0 4rem
  display: flex
  align-items: center
  justify-content: space-between
  z-index: 1
  border-radius: 0 0 1.6rem 1.6rem
  border-top: 3px solid $clr-mustard
  &__logo
    font-family: 'Dancing Script', cursive
    font-size: 2.2rem
    font-weight: 700
    text-decoration: none
  &__credit
    font-size: 1.6rem
    font-weight: 400
    margin-bottom: 0
  &::before, &::after
    content: ''
    position: absolute
    display: block
    top: calc(-3.2rem - 3px)
    height: 3.2rem
    width: 4px
    border-left: 4px dotted $clr-mustard
  &::before
    left: 12.8rem
  &::after
    right: 12.8rem

.button
  display: inline-flex
  align-items: center
  justify-content: center
  font-family: 'Quicksand', sans-serif
  font-size: 1.8rem
  font-weight: 600
  text-align: center
  text-decoration: none
  padding: 1.6rem 4.8rem
  border: 2px solid $clr-grey
  border-radius: 1000px
  transition: background 0.2s, border-color 0.2s
  &:hover
    background: $clr-eggshell
    border-color: $clr-mustard
  &--small
    font-size: 1.6rem
    padding: 0.8rem 2rem
  &::before
    font-family: 'Material Icons'
    margin-right: 0.8rem
  &::after
    font-family: 'Material Icons'
    margin-left: 0.8rem
  &--next::after
    content: 'arrow_forward'
  &--restart::before
    content: 'replay'
  &--home::before
    content: 'home'
  &--quit::before
    content: 'close'

.header
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 3.2rem

.button-wrapper
  display: flex
  margin-top: 3.2rem
  .button:not(:only-of-type)
    flex: 1
    padding-left: 0
    padding-right: 0
  .button:nth-child(2)
    margin-left: 2rem

.footer
  margin-bottom: 2.4rem
  &__text
    margin: 0
    font-size: 1.6rem
    font-weight: 400
    text-align: center

@keyframes fade-up
  0%
    opacity: 0
    transform: translateY(3.2rem)
  100%
    opacity: 1
    transform: translateY(0)